.wrap{
	p {
		font-size:20px;
		color:tomato;
	}
	a.test-btn {
		display:inline-block;
		border:1px solid #ccc;
		padding:5px 10px;
		font-size:15px;
		color:#555;
		text-decoration:none;
	}
	> div {
		margin-top:20px;
		padding:10px;
		border:1px solid #ccc;
		font-size:13px;
		color:skyblue;
		ul {
			li {
				display:block;
				font-size:12px;
				color:yellowgreen;
			}
		}

		.inc-test {
			color:tomato;
			font-size:12px;
			font-weight:bold;
			font-style:italic;
		}
	}
}